$darkPrimaryColor: #00796B;
$primaryColor: #009688;
$lightPrimaryColor: #B2DFDB;
$iconColor: #FFFFFF;
$accentColor: #4CAF50;
$primaryTextColor: #212121;
$secondaryTextColor: #727272;
$dividerColor: #B6B6B6;
$selectedButtonColor: #00796B;
$fieldBackgroundColor: #f5f5f5;
$unavalableColor: #BDBDBD;

$playerColorGray: #BDBDBD;
$playerColorPurple: #6A0888;
$playerColorRed: #DF0101;
$playerColorBlue: #2E2EFE;
$playerColorPink: #ff7799;
$playerColorOrange: #FE9A2E;
$playerColorBlack: #000000;
